<div class="container" *ngIf="Products.total_record>0">
    <div class="row foodlist-item">
      <div class="col-3 box" *ngFor="let product of Products.data">
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>         
        <img src="{{ product.photo }}">            
        <span style="margin-left: -10px;">
          <h6>{{ product.name }}</h6>
        </span>                     
        <div class="options">
          <ul>
            <li *ngFor="let item of product.options">
              <label style="margin-right: 5px;">{{ item.name }}: </label>
              <strong>{{ item.price }}</strong>
            </li>
          </ul>
        </div>
          <div class="buy">
            <a class="nav-link" [routerLink]="['/shopping-cart']">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </a> 
      </div>
      </div>
  </div>
