*{
    box-sizing: border-box;
}
/* food List */
.foodlist-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.foodlist-item a:hover{
    text-decoration: none;
    color: red;
    font-size: 20px;
    transition: 0.3s;
}
.foodlist-item img{
    width: 170px;
    height: 170px; 
    display: block;
    margin: 20px auto;
}
.subcat{
    background-color: #F16534;
    position: relative;
    left: 94%;
    padding: 0 0 0 0;
    transition: 0.4s;
    width: 130px;
    border: none !important;
}
.subcat a{
    text-decoration: none;
    color: #fff;
    font-size: 25px ;
}
.subcat:hover{
    background-color: #C6000D;
    transition: 0.4s;
}
.options{
    font-size: 14px;
    color: grey;
    margin: 10px 0px;
    margin-top: 80px !important;
}
.options ul li{
    list-style: none;
    color: black;
    margin-left: -50px;
    margin-bottom: 5px;
}
.options ul li label{
    font-size: 17px;
}
.options ul li strong{
    font-size: 20px;
    color: #a70909;
}
.nav-link {
    border: none !important;
}
.buy{   
    position: absolute;
    bottom: 20px;
    left: 160px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    display: none;
}
.buy a i{
    font-size: 25px;
    color: #e70f0f;
    z-index: 5; 
}
.buy a i:hover{
    color: #a70909 !important;
}
.box:hover .buy{
    display: block;
}
/*animation for box */
.box a{
    position: relative;
    display: inline-block;
    padding: 15px 35px;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 10px;
}

.box a:hover {
    border:  2px solid rgb(245, 25, 25);
    position: absolute !important;
    transition-delay: 0.4s;
}
.box a span{
    position: absolute;
    display: block;
}
.box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #f12905);
}
.box a:hover span:nth-child(1){
    left: 100%;
    transition: 0.6s;
}
.box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #f12905);
}
.box a:hover span:nth-child(3){
    right: 100%;
    transition: 0.6s;
    transition-delay: 0.15s;
}
.box a span:nth-child(2){
    top: -100%;
    right: 0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f12905);
}
.box a:hover span:nth-child(2){
    top: 100%;
    transition: 0.6s;
    transition-delay: 0.1s;
}
