<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://flyfood.vn/vnt_upload/weblink/Banner_885x350_GaQuay-BoXoiDauXanh.jpg">
  </div>
<div class="carousel-item">
    <img src="https://flyfood.vn/vnt_upload/weblink/CA_TAI_TUONG_BONG_XU_-_GIAM_100k_-_885x350.jpg">
</div>
<div class="carousel-item">
    <img src="https://flyfood.vn/vnt_upload/weblink/DICH-VU-SAS-MIEN-PHI-THANG-6_885x350.png">
</div>
</div>
</div>
<!--MENU-->
<section class="foodList">
    <!--content-->
    <h1 class="text-black">MENU</h1>
    <hr>
        <div class="container">
          <div class="row foodlist-item text-center">
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY</a></span>
            </div>
            <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
          </div>
    
          <div class="row foodlist-item text-center">
            <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
            </div>
        </div>  
    </div>
</section>

 <!--Pagination-->
 <nav>
  <ul class="pagination">
      <li class="page-item"><a href="#" class="page-link">Previous</a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">Next</a></li>
  </ul>
</nav>
<!--cac mon goi-->
<section class="foodList">
    <!--content-->
    <h1 class="text-black">Các món ăn chơi</h1>
    <hr>
        <div class="container">
          <div class="row foodlist-item text-center">
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY</a></span>
            </div>
            <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
          </div> 
    </div>
</section>
<!--Cac mon ca-->
<section class="foodList">
    <!--content-->
    <h1 class="text-black">Các món súp</h1>
    <hr>
        <div class="container">
          <div class="row foodlist-item text-center">
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY</a></span>
            </div>
            <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
              <div class="col-3">
                <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
                <h4>Gỏi đu đủ</h4>
                <p class="dollar font-weight-bold">$10</p>
                <span><a href="#">BUY </a></span>
              </div>
          </div>
    </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món tôm</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món cá</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món gà</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món bò-dê-heo</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món lẩu</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món cơm</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="foodList">
  <!--content-->
  <h1 class="text-black">Các món tráng miệng</h1>
  <hr>
      <div class="container">
        <div class="row foodlist-item text-center">
          <div class="col-3">
            <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
            <h4>Gỏi đu đủ</h4>
            <p class="dollar font-weight-bold">$10</p>
            <span><a href="#">BUY</a></span>
          </div>
          <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
            <div class="col-3">
              <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
              <h4>Gỏi đu đủ</h4>
              <p class="dollar font-weight-bold">$10</p>
              <span><a href="#">BUY </a></span>
            </div>
        </div>
  </div>
</section>

<section class="newsletter">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <div class="content">
      <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
    <div class="input-group">
           <input type="email" class="form-control" placeholder="Enter your email">
           <span class="input-group-btn" style="width: 150px;">
           <button class="btn" type="submit">Subscribe Now</button>
           </span>
            </div>
    </div>
  </div>
  </div>
  </div>
  </section>