<!-- Footer -->
<footer class="page-footer font-small special-color-light pt-3 text-dark">
  <div class="bg-light text-center pt-3">
    <!-- Social Icon -->
    <div class="icon-social text-center bg-light">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-facebook-square"  style="color:#a365bc"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-instagram" style="color:#a365bc"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-twitter" style="color:#a365bc"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-github" style="color:#a365bc"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-light pb-3">
      © 2020 Copyright:
      <a href="#" style="color: black;">Eat Well Vietnamese Food.com</a>
    </div>
  </div>
</footer>
<!-- Footer -->
