<div class="nav-side-menu">
    <div class="brand">Admin Page</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                
                <li  data-toggle="collapse" data-target="#products" class="collapsed ">
                  <a><i class="fa fa-tasks"></i> Quản lí <span></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a>Sản phẩm</a></li>
                    <li><a>Đơn hàng</a></li>
                    <li><a>Khách hàng</a></li>
      
                </ul>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a  ><i class="fa fa-globe fa-lg"></i> Báo cáo <span></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>Doanh thu theo tháng</li>
                  
                </ul>
                
            </ul>
     </div>
  </div>
