.header {
  position: relative;
  left: 0;
  top: 0;
  padding: 40px;
}
nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light {
  box-shadow: rgba(0, 0, 0, 0.19);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 9px 26px 0 rgba(0, 0, 0, 0.15);
}