USE [EatWellDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategorySlug] [nvarchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[OptionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderTotal] [int] NOT NULL,
	[OrderPhone] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[OrderStatus] [bit] NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[OrderDescription] [ntext] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOptions]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOptions](
	[OptionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_ProductOptions] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
	[Description] [ntext] NULL,
	[ProductSlug] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/22/2020 8:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](70) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [int] NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategorySlug]) VALUES (1, N'Món Ăn Chơi', N'mon-an-choi')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategorySlug]) VALUES (2, N'Món Gỏi', N'mon-goi')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategorySlug]) VALUES (3, N'Món Súp', N'mon-sup')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionId], [OptionName]) VALUES (1, N'Size Chuẩn')
INSERT [dbo].[Options] ([OptionId], [OptionName]) VALUES (2, N'Size Lớn')
SET IDENTITY_INSERT [dbo].[Options] OFF
INSERT [dbo].[ProductOptions] ([OptionId], [ProductId], [Price]) VALUES (1, 1, 190000)
INSERT [dbo].[ProductOptions] ([OptionId], [ProductId], [Price]) VALUES (1, 2, 190000)
INSERT [dbo].[ProductOptions] ([OptionId], [ProductId], [Price]) VALUES (1, 3, 180000)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [CategoryId], [ProductName], [Photo], [Description], [ProductSlug], [IsActive]) VALUES (1, 1, N'CHẢ HOÀNG KIM', N'https://flyfood.vn/vnt_upload/product/01_2019/thumbs/370_crop_khai-vi-flyfood-2-trong-1-1_1.png', N'Chả Hoàng Kim là món đặc biệt với tên gọi và cách chế biến riêng của Flyfood. Món ăn đẹp mắt, chất lượng. Chả Hoàng Kim đã thể siện sự đẵng cấp của đầu bếp tài hoa, có thể chạm được cảm xúc của thực khách.', N'cha-hoang-kim', 1)
INSERT [dbo].[Products] ([ProductId], [CategoryId], [ProductName], [Photo], [Description], [ProductSlug], [IsActive]) VALUES (2, 1, N'HẢI SẢN TAM GIÁC VÀNG', N'https://flyfood.vn/vnt_upload/product/01_2019/thumbs/370_crop_hai-san-tam-giac-vang-flyfood-new-2.jpg', N'Hải Sản Tam Giác Vàng Món đặc biệt của Flyfood được gói hình Tam Giác bằng bánh bía đậu xanh với nhân bên trong gồm các loại Hải Sản tôm, mực, hạt bắp mĩ trộn Mayonnaise được lăn qua bột mì, nhúng qua trứng, lăn qua bột chiên xù. Sau đó, bỏ vào chảo dầu nóng và đem chiên lên Vàng giòn rụm.', N'hai-san-tam-giac-vang
', 1)
INSERT [dbo].[Products] ([ProductId], [CategoryId], [ProductName], [Photo], [Description], [ProductSlug], [IsActive]) VALUES (3, 1, N'THỊT HEO NƯỚNG LỤI- BÁNH HỎI', N'https://flyfood.vn/vnt_upload/product/04_2020/thumbs/370_crop_thit-heo-nuong-lui-banh-hoi-size-chuan-02_copy.jpg', N'Thịt Heo Xiên Nướng Lụi là một món ăn dân dã nhưng rất đậm đà hương vị. Thịt được chọn làm món này là thịt heo nạc dăm, loại thịt có phần mỡ và thịt xen lẫn vào nhau, được FLYFOOD tẩm ướp gia vị thơm ngon và nướng xém cạnh nhưng bên trong vẫn mọng nước, mềm mại ngon tuyệt với.', N'thit-heo-nuong-lui-banh-hoi', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptions_Options] FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
ALTER TABLE [dbo].[ProductOptions] CHECK CONSTRAINT [FK_ProductOptions_Options]
GO
ALTER TABLE [dbo].[ProductOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductOptions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductOptions] CHECK CONSTRAINT [FK_ProductOptions_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
