<div id="gallery" class="wrapper">	
    <div class="picture">
        <a class="fancybox" rel="gallery" href="https://flyfood.vn/vnt_upload/product/05_2019/hinhmonan/goi-cu-hu-dua-tom-thit-flyfood-2.png" title="" tabindex="0"><img src="https://flyfood.vn/vnt_upload/product/05_2019/hinhmonan/thumbs/370__goi-cu-hu-dua-tom-thit-flyfood-2.png" alt="GỎI CỦ HŨ DỪA TÔM THỊT" title="GỎI CỦ HŨ DỪA TÔM THỊT"></a>
    </div>
	<div class="list-option">
		<div class="div-title"><h1>GỎI CỦ HŨ DỪA TÔM THỊT</h1></div>
		<div class="short">
			<p style="text-align: justify;">Gỏi Củ Hũ Dừa là phần thân non rất trắng trên cùng của cây dừa. Đây là loại thực phẩm giàu dinh dưỡng và tốt cho sức khỏe. Củ hũ dừa được chế biến ra các món ăn thơm ngon như xào với thơm (dứa), ngâm xổi, canh nấu thịt, củ hũ dừa tôm thịt hoặc bóp gỏi.</p>
		</div>
		<div class="options">
			<ul>
				<li>
					<label>Mã SP</label>
					<span>GOI01</span>
				</li>
				<li>
					<label>Lượt xem</label>
					<span>11946</span>
				</li>
			</ul>
			<div class="desc-status">			
			</div>
		</div>
    </div>
    <div>
        
    </div>
</div>