<div class="row">
  <div class="column">
    <div id="gallery">
      <div class="picture">
        <a class="fancybox" rel="gallery" title="" tabindex="0">
          <img
            src="{{ Product.photo }}"
            alt="GỎI CỦ HŨ DỪA TÔM THỊT"
            title="GỎI CỦ HŨ DỪA TÔM THỊT"
        /></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="list-option">
      <div>
        <h2>{{ Product.name }}</h2>
      </div>
      <div>
        <p style="text-align: justify;">{{ Product.description }}</p>
      </div>

      <div class="options">
        <ul>
          <li>
            <label style="margin-right: 15px;">Mã SP: </label>
            <span>{{ Product.slug }}</span>
          </li>
          <li>
            <label style="margin-right: 15px;">Lượt xem: </label>
            <span>11946</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box-price">
      <div class="imgvote text-center">
        <label>Giá sản phẩm </label>
      </div>

      <ul *ngFor="let po of Product.options">
        <li>
          <label> {{ po.name }} : </label>
          <span class="price"> {{ po.price }} <span class="unit">đ</span></span>
        </li>
      </ul>

      <li>
        <label style="margin-left: 40px;">Chọn size </label>
        <span class="i-select">
          <select id="size" class="form-control">
            <option value="{{ Product.options[0].price }}">Size Chuẩn</option>
            <option value="{{ Product.options[1].price }}">Size Lớn</option>
          </select>
        </span>
      </li>
    </div>

    <div class="button_group">
      <button class="btn-addtocart" type="button" rel="246">
        <a (click)="AddToCart(Product.id, Product.name)"
          ><i class="fas fa-plus"></i>Thêm vào giỏ hàng</a
        >
      </button>
      <button class="btn-buynow" type="submit">
        <a [routerLink]="['/cart']"><i class="fas fa-cart-plus"></i>Mua ngay</a>
      </button>
      <button class="btn-back-home">
        <a [routerLink]="['/']">Mua thêm món khác</a>
      </button>
    </div>
  </div>
</div>
