<div id="gallery" class="wrapper">	
    <div class="picture">
        <a class="fancybox" rel="gallery" href="https://flyfood.vn/vnt_upload/product/05_2019/hinhmonan/goi-cu-hu-dua-tom-thit-flyfood-2.png" title="" tabindex="0"><img src="https://flyfood.vn/vnt_upload/product/05_2019/hinhmonan/thumbs/370__goi-cu-hu-dua-tom-thit-flyfood-2.png" alt="GỎI CỦ HŨ DỪA TÔM THỊT" title="GỎI CỦ HŨ DỪA TÔM THỊT"></a>
    </div>
	<div class="list-option">
		<div><h2>GỎI CỦ HŨ DỪA TÔM THỊT </h2></div>
			<p style="text-align: justify;">Gỏi Củ Hũ Dừa là phần thân non rất trắng trên cùng của cây dừa. 
Đây là loại thực phẩm giàu dinh dưỡng và tốt cho sức khỏe. Củ hũ dừa được chế biến ra các món ăn thơm ngon như xào với thơm (dứa),
ngâm xổi, canh nấu thịt, củ hũ dừa tôm thịt hoặc bóp gỏi.</p>
		<div class="options">
			<ul>
				<li>
					<label style="margin-right: 15px;">Mã SP: </label>
					<span>GOI01</span>
				</li>
				<li>
					<label style="margin-right: 15px;">Lượt xem: </label>
					<span>11946</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="box-price">
		<div class="imgvote text-center ">
			<label>Giá sản phẩm </label>
		</div>
		<ul>
			<li><label>Giá size lớn: </label>
				<span class="price">420,000<span class="unit">đ</span></span>
			</li>
			<li><label>Giá size chuẩn: </label>
				<span class="price">230,000<span class="unit">đ</span></span>
			</li>
			<li><label>Chọn size </label>
				<span class="i-select"><select name="size" id="size" class="form-control"><option value="1">Size lớn</option><option value="2">Size chuẩn</option></select></span>
			</li>
		</ul>
		<div class="button_group">
			<button class="btn-addtocart" type="button" rel="246"><a href="#"><i class="fas fa-plus"></i>Thêm vào giỏ hàng</a></button>
			<button class="btn-buynow" type="submit"><a href="#"><i class="fas fa-cart-plus"></i>Mua ngay</a></button>
			<button class="btn-back-home"><a href="#">Mua thêm món khác</a></button>
		</div>
	</div>
</div>
<section class="foodList">
	<!--content-->
	<h1 class="text-black">Có thể bạn sẽ thích</h1>
	<hr>
		<div class="container">
		  <div class="row foodlist-item text-center">
			<div class="col-3">
			  <img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
			  <h4>Gỏi đu đủ</h4>
			  <p class="dollar font-weight-bold">$10</p>
			  <span><a href="#">BUY</a></span>
			</div>
			<div class="col-3">
				<img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
				<h4>Gỏi đu đủ</h4>
				<p class="dollar font-weight-bold">$10</p>
				<span><a href="#">BUY </a></span>
			  </div>
			  <div class="col-3">
				<img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
				<h4>Gỏi đu đủ</h4>
				<p class="dollar font-weight-bold">$10</p>
				<span><a href="#">BUY </a></span>
			  </div>
			  <div class="col-3">
				<img src="https://flyfood.vn/vnt_upload/product/06_2020/thumbs/370_crop_Untitled-1.jpg" alt="">
				<h4>Gỏi đu đủ</h4>
				<p class="dollar font-weight-bold">$10</p>
				<span><a href="#">BUY </a></span>
			  </div>
		  </div>
	</div>
  </section>