<div class="container signup-container">
  <div class="row justify-content-center">
    <div class="wrap-flex">
      <div class="col-md-6 signup-form-1">
        <h3>Đăng Kí</h3>
        <form>
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label>Tài Khoản</label>
                  <input type="Username" class="form-control" placeholder="" />
                </div>

                <div class="form-row">
                  <div class="col form-group">
                    <label>Họ và Tên </label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="" />
                </div>

                <div class="form-group">
                  <label>Địa Chỉ</label>
                  <input type="Address" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                  <label>Số Điện Thoại</label>
                  <input type="Phone" class="form-control" placeholder="" />
                </div>

                <div class="form-group">
                  <label>Mật Khẩu</label>
                  <input class="form-control" type="password" />
                </div>
                <!-- form-group end.// -->
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btnSubmit btn-primary btn-block"
                  >
                    Tạo Tài Khoản
                  </button>
                </div>
                <div class="card-body text-center">
                  Bạn đã có tài khoản?
                  <a class="ForgetPwd" [routerLink]="['/login']">Đăng nhập</a>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
