<div class="container">
  <div class="row">
    <div class="col section-1 section-description wow fadeIn">
        <h2>Giỏ Hàng</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-border checkout-table">
          <tbody>
            <tr>
              <th class="hidden-xs">Món</th>
              <th class="hidden-xs">Mô tả</th>
              <th class="hidden-xs">Đơn giá</th>
              <th class="hidden-xs">Số lượng</th>
              <th class="hidden-xs">Tổng số</th>
              <th class="hidden-xs">Loại bỏ</th>
            </tr>
            <tr>
              <td class="hidden-xs"><a href="#"><img src="../../assets/image/4.jpg" alt=""></a></td>
              <td>
                <h5 class="product-title font-alt">Món ăn này con trinh nguyên 99%</h5>
              </td>
              <td class="hidden-xs">
                <h5 class="product-title font-alt">650.000VND Bao phòng</h5>
              </td>
              <td>
                <input class="form-control" type="number" name="" value="1" max="50" min="1">
              </td>
              <td>
                <h5 class="product-title font-alt">10.000VND Vip</h5>
              </td>
              <td class="pr-remove"><a href="#" title="Remove"><i class="fa fa-times"></i></a></td>
            </tr>
            <tr>
              <td class="hidden-xs"><a href="#"><img src="../../assets/image/4.jpg" alt=""></a></td>
              <td>
                <h5 class="product-title font-alt">kinh nghiệm đầy mình trong lầu xanh</h5>
              </td>
              <td class="hidden-xs">
                <h5 class="product-title font-alt">£20.00</h5>
              </td>
              <td>
                <input class="form-control" type="number" name="" value="1" max="50" min="1">
              </td>
              <td>
                <h5 class="product-title font-alt">£20.00</h5>
              </td>
              <td class="pr-remove"><a href="#" title="Remove"><i class="fa fa-times"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <input class="form-control" type="text" id="" name="" placeholder="Mã giảm giá">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-round btn-g" type="submit">Áp dụng</button>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
          <button class="btn btn-block btn-round btn-d pull-right" type="submit">Cập nhật giỏ hàng</button>
        </div>
      </div>
    </div>
    <hr class="divider-w">
    <div class="row mt-70">
      <div class="col-sm-5 col-sm-offset-7">
        <div class="shop-Cart-totalbox">
          <h4 class="font-alt">Toàn bộ giỏ hàng</h4>
          <table class="table table-striped table-border checkout-table">
            <tbody>
              <tr>
                <th class="hidden-xs">Tổng tiền :</th>
                <td>£40.00</td>
              </tr>
              <tr>
                <th class="hidden-xs">Phí giao hàng :</th>
                <td>£2.00</td>
              </tr>
              <tr class="shop-Cart-totalprice">
                <th class="hidden-xs">Thành tiền :</th>
                <td>£42.00</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-lg btn-block btn-round btn-d" type="submit">Kiểm tra đơn hàng</button>
        </div>
      </div>
    </div>
  </div>