<div class="container">
  <div class="row">
    <div class="col section-1 section-description wow fadeIn">
      <h2>Giỏ Hàng</h2>
      <div class="divider-1 wow fadeInUp"><span></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-border checkout-table">
        <tbody>
          <tr>
            <th class="hidden-xs">Món</th>
            <th class="hidden-xs">Mô tả</th>
            <th class="hidden-xs">Đơn giá</th>
            <th class="hidden-xs">Số lượng</th>
            <th class="hidden-xs">Tổng số</th>
            <th class="hidden-xs">Loại bỏ</th>
          </tr>
          <tr>
            <td class="hidden-xs">
              <a href="#"><img src="../../assets/image/4.jpg" alt="" /></a>
            </td>
            <td>
              <h5 class="product-title font-alt">
                Món ăn này con trinh nguyên 99%
              </h5>
            </td>
            <td class="hidden-xs">
              <h5 class="product-title font-alt">650.000VND Bao phòng</h5>
            </td>
            <td>
              <input
                class="form-control"
                type="number"
                name=""
                value="1"
                max="50"
                min="1"
              />
            </td>
            <td>
              <h5 class="product-title font-alt">10.000VND Vip</h5>
            </td>
            <td class="pr-remove">
              <a href="#" title="Remove"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          <tr>
            <td class="hidden-xs">
              <a href="#"><img src="../../assets/image/4.jpg" alt="" /></a>
            </td>
            <td>
              <h5 class="product-title font-alt">
                kinh nghiệm đầy mình trong lầu xanh
              </h5>
            </td>
            <td class="hidden-xs">
              <h5 class="product-title font-alt">£20.00</h5>
            </td>
            <td>
              <input
                class="form-control"
                type="number"
                name=""
                value="1"
                max="50"
                min="1"
              />
            </td>
            <td>
              <h5 class="product-title font-alt">£20.00</h5>
            </td>
            <td class="pr-remove">
              <a href="#" title="Remove"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

  <div class="flex-container">
    <div class="row justify-content-between">

      <div class="justify-content-between">
        <div class="col-sm-12 col-sm-offset-7">
          <form>
            <h4 class="font-alt">Điền thông tin</h4>
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label>Số Điện Thoại</label>
                    <input type="Phone" class="form-control" placeholder="" />
                  </div>
                  <div class="form-group">
                    <label>Địa Chỉ</label>
                    <input type="Address" class="form-control" placeholder="" />
                  </div>
                  <div class="form-group">
                    <label>Mô tả</label>
                    <input
                      type="OrderDescription"
                      class="form-control"
                      placeholder=""
                    />
                  </div>

                  <!-- form-group end.// -->
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btnSubmit btn-primary btn-block"
                    >
                      Xác Nhận Đơn Hàng
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
