




        <!-- Section 1 -->
        <div class="section-1-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col section-1 section-description wow fadeIn">
	                    <h2>About Us</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 section-1-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-magic"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Great Food</h3>
	                    		<p>Innovative food, culinary equipment, trends and events.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-cog"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Our Services</h3>
	                    		<p>Tools that build your brand and increase your bottom line.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fab fa-twitter"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Why Us Food</h3>
	                    		<p>Our commitment, exclusive support and dedicated people.</p>
	                    	</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>

        <!-- Section 2 -->
        <div class="section-2-container section-container section-container-gray-bg">
	        <div class="container">
	            <div class="row">
	            	<div class="col section-2-box wow fadeInLeft">
                    	<h2>Vietnamese Food</h2>
                    	<p class="medium-paragraph">
							In the past few years Vietnamese food has become more and more popular around the world. Food lovers may have tried the two best known Vietnamese dishes – spring rolls and bread rolls. Rice, noodles, fresh vegetable and herbs all play big roles in Vietnamese food, making it one of the healthiest cuisines in the world.
							In Vietnam you’ll discover one unmistakable fact: Vietnamese people love noodles. They eat them every day, sometimes for every meal. Vietnamese noodles are made from a few basic ingredients, the most common being rice, wheat and mung beans, but a whole sub-cuisine is built on these basics. 
                    	</p>
                    	<p class="medium-paragraph">
                    		In the northern part of the country, thanks to the influence of neighbouring China, people tend to use more soy sauce than other parts, where fish sauce is more usual. Other common ingredients in Vietnamese cooking include black pepper (mainly in the north), hot chili, coconut milk, limes, lemon grass, tamarind and cane sugar, supplemented by asparagus and potatoes, courtesy of the French influence. Methods of cooking vary from simmering or boiling to frying or grilling.
                    	</p>
                    	<p class="medium-paragraph">
                    		Stir-frying using a wok and chopsticks is common. Many European influences can be found in Vietnamese dishes, including sauces, meats, cold roast pork, patés and baguettes (French rolls). At the other end of the scale, in some parts of the country there is still plenty of demand for exotic meats such as dog, turtle and snake. 
                    	</p>
	                </div>
	            </div>
	        </div>
        </div>

		<!-- Section 3 -->
        <div class="section-3-container section-container">
	        <div class="container">

	            <div class="row">
	                <div class="col section-3 section-description wow fadeIn">
	                    <h2>Our Team</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
					</div>
				</div>


				<div class="row">
	                <div class="col section-3 section-description wow fadeIn">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
							src="../../assets/image/4.jpg" alt=""
							width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Bui The Vinh</h5><span class="small text-uppercase text-muted">Leader</span>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item"><a href="#" class="social-link"><i
									class="fab fa-facebook-f"></i></a></li>
							<li class="list-inline-item"><a href="#" class="social-link"><i
									class="fab fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
							</li>
							<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					</div>
				</div>

	            <div class="row text-center">
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/5.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Huynh Anh Khoa</h5><span
									class="small text-uppercase text-muted">...</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/6.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Le Thien Bao</h5><span
									class="small text-uppercase text-muted">...</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/7.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Duong Thanh Binh</h5><span
									class="small text-uppercase text-muted">...</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/8.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Quach Trien Huy</h5><span
									class="small text-uppercase text-muted">...</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
				</div>
	        </div>
        </div>

        