




        <!-- Section 1 -->
        <div class="section-1-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col section-1 section-description wow fadeIn">
	                    <h2>Về chúng tôi</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 section-1-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-magic"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Thức ăn tuyệt vời</h3>
	                    		<p>Thực phẩm sáng tạo, thiết bị ẩm thực, xu hướng và sự kiện.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-cog"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Dịch vụ của chúng tôi</h3>
	                    		<p>Các công cụ xây dựng thương hiệu của bạn và tăng lợi nhuận của bạn.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fab fa-twitter"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Tại sao chúng tôi thực phẩm</h3>
	                    		<p>Cam kết của chúng tôi, hỗ trợ độc quyền và những người tận tâm.</p>
	                    	</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>

        <!-- Section 2 -->
        <div class="section-2-container section-container section-container-gray-bg">
	        <div class="container">
	            <div class="row">
	            	<div class="col section-2-box wow fadeInLeft">
                    	<h2>Thực phẩm của chúng tôi</h2>
                    	<p class="medium-paragraph">
							Trong vài năm qua, thực phẩm Việt Nam ngày càng trở nên phổ biến trên toàn thế giới. Những người yêu thích ẩm thực có thể đã thử hai món ăn nổi tiếng nhất của Việt Nam - chả giò và chả bánh mì. Gạo, mì, rau tươi và thảo mộc đều đóng vai trò lớn trong thực phẩm Việt Nam, làm cho nó trở thành một trong những món ăn lành mạnh nhất trên thế giới.
Ở Việt Nam, bạn sẽ khám phá ra một sự thật không thể nhầm lẫn: Người Việt Nam thích mì. Họ ăn chúng mỗi ngày, đôi khi cho mỗi bữa ăn. Mì Việt Nam được làm từ một vài thành phần cơ bản, phổ biến nhất là gạo, lúa mì và đậu xanh, nhưng toàn bộ món ăn phụ được xây dựng dựa trên những điều cơ bản này. 
                    	</p>
                    	<p class="medium-paragraph">
                    		Ở phía bắc của đất nước, nhờ ảnh hưởng của nước láng giềng Trung Quốc, mọi người có xu hướng sử dụng nhiều nước tương hơn các phần khác, nơi nước mắm thường hơn. Các thành phần phổ biến khác trong nấu ăn Việt Nam bao gồm hạt tiêu đen (chủ yếu ở miền bắc), ớt nóng, nước cốt dừa, chanh, sả, me và đường mía, được bổ sung bởi măng tây và khoai tây, nhờ ảnh hưởng của Pháp. Phương pháp nấu khác nhau từ đun sôi hoặc luộc đến chiên hoặc nướng.
                    	</p>
                    	<p class="medium-paragraph">
                    		Xào bằng chảo và đũa là phổ biến. Nhiều ảnh hưởng của châu Âu có thể được tìm thấy trong các món ăn Việt Nam, bao gồm nước sốt, thịt, thịt lợn nướng lạnh, paté và baguettes (bánh cuộn Pháp). Ở đầu kia của quy mô, ở một số vùng của đất nước vẫn còn nhiều nhu cầu về các loại thịt kỳ lạ như chó, rùa và rắn. 
                    	</p>
	                </div>
	            </div>
	        </div>
        </div>

		<!-- Section 3 -->
        <div class="section-3-container section-container">
	        <div class="container">

	            <div class="row">
	                <div class="col section-3 section-description wow fadeIn">
	                    <h2>Thành viên</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
					</div>
				</div>


				<div class="row">
	                <div class="col section-3 section-description wow fadeIn">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
							src="../../assets/image/4.jpg" alt=""
							width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
						<h5 class="mb-0">Bùi Thế Vinh</h5><span class="small text-uppercase text-muted">Nhóm trưởng</span>
						<ul class="social mb-0 list-inline mt-3">
							<li class="list-inline-item"><a href="#" class="social-link"><i
									class="fab fa-facebook-f"></i></a></li>
							<li class="list-inline-item"><a href="#" class="social-link"><i
									class="fab fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
							</li>
							<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					</div>
				</div>

	            <div class="row text-center">
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/5.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Huỳnh Anh Khoa</h5><span
									class="small text-uppercase text-muted">Thành viên</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/6.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Lê Thiên Bảo</h5><span
									class="small text-uppercase text-muted">Thành viên</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/7.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Dương Thanh Bình</h5><span
									class="small text-uppercase text-muted">Thành viên</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
		
					<!-- Team item-->
					<div class="col-xl-3 col-sm-6 mb-5">
						<div class="bg-white rounded shadow-sm py-5 px-4"><img
								src="../../assets/image/8.jpg" alt=""
								width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
							<h5 class="mb-0">Quách Triển Huy</h5><span
									class="small text-uppercase text-muted">Thành viên</span>
							<ul class="social mb-0 list-inline mt-3">
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-facebook-f"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i
										class="fab fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End-->
				</div>
	        </div>
        </div>

        