<div class="container login-container">
  <div class="row">
    <div class="wrap-flex">
      <div class="col-md-6 login-form-1">
        <h3>Đăng nhập</h3>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Tài Khoản"
              value=""
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Mật Khẩu"
              value=""
            />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btnSubmit" value="Đăng nhập" />
          </div>
          <div class="form-group">
            <a class="ForgetPwd" [routerLink]="['/signup']"
              >Tạo tài khoản mới ?</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
