<div class="container login-container">
  <div class="row">
    <div class="wrap-flex">
      <div class="col-md-6 login-form-1">
        <h3>Login</h3>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Username *"
              value=""
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Your Password *"
              value=""
            />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btnSubmit" value="Login" />
          </div>
          <div class="form-group">
            <a href="#" class="ForgetPwd">Create an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
