<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 text-white">
  <div class="bg-dark text-center pt-4">
    <!-- Social Icon -->
    <div class="icon-social text-center bg-dark">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-dark pb-2">
      © 2020 Copyright:
      <a href="#" style="color: white;">Eat Well Vietnamese Food.com</a>
    </div>
  </div>
</footer>
<!-- Footer -->
